/*
    Document   : override
    Created on : <date>
    Author     : <author>
    Description: 
        This is where any of your application specific styles should be included
*/
  .container {
    background: #f1f7fc;
    padding: 80px 0;
  }
  
  .container .form-container {
    display: table;
    max-width: 900px;
    width: 90%;
    margin: 0 auto;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
  }
  
  .container form {
    display: table-cell;
    width: 400px;
    background-color: #ffffff;
    padding: 40px 60px;
    color: #505e6c;
  }
  
  @media (max-width:991px) {
    .container form {
      padding: 40px;
    }
  }
  
  .container form h2 {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 30px;
  }
  
  .container form .form-control {
    background: #f7f9fc;
    border: none;
    border-bottom: 1px solid #dfe7f1;
    border-radius: 40px;
    box-shadow: none;
    outline: none;
    color: inherit;
    text-indent: 6px;
    height: 40px;
  }
  
  .container form .form-check {
    font-size: 13px;
    line-height: 20px;
  }
  
  .container form .btn-primary {
    background: #f4476b;
    border: none;
    border-radius: 4px;
    padding: 11px;
    box-shadow: none;
    margin-top: 35px;
    text-shadow: none;
    outline: none !important;
  }
  
  .container form .btn-primary:hover, .container form .btn-primary:active {
    background: #eb3b60;
  }
  
  .container form .btn-primary:active {
    transform: translateY(1px);
  }
  
  .container form .already {
    display: block;
    text-align: center;
    font-size: 12px;
    color: #6f7a85;
    opacity: 0.9;
    text-decoration: none;
  }
  
  .container .form-container border .form-group  input {
    border-radius: 40px;
    color: red;
  }
  
  /*style for the login form*/
  #login_form {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
  }
  
  #form_wrapper {
    padding-bottom: 20px;
    background: #ffffff;
    box-shadow: 0px 0px 5px 0px rgba(83, 3, 97, 0.67);
    border-radius: 3px;
  }
  
  #logintitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 49px;
    text-align: center;
    color: #9b51e0;
  }
  
  #login_form_components {
    width: 90%;
    margin: auto;
  }
  
  .lform-ctrl {
    background: #dedcdcc2;
    border-radius: 500px;
    padding: 20px 15px;
    margin-bottom: 30px;
  }
  
  .oj-inputtext-input,
  .oj-inputpassword-input {
    border: none;
  }
  
  .loginbtn {
    height: inherit;
  }
  
  .loginbtn .oj-button-label {
    border-radius: 100px;
    font-weight: bold;
    height: 50px !important;
    width: 150px;
    margin: 0px;
    font-size: 13px;
    background: #9b51e0;
    text-align: center;
    color: white;
  }
  
  .loginbtn.oj-button.oj-default.oj-button-full-chrome .oj-button-button {
    background: #9b51e0;
    border-radius: 100px;
    box-shadow: 0px 2px 5px #32023a;
    border: none;
  }
  
  .footer {
    min-height: auto !important;
    font-weight: bold;
  }